body {
  font-family: 'Manrope', sans-serif;
}

.logo {
  display: none;
  text-decoration: none;
  padding: 5px 10px;
  width: 5rem;
  min-height: 100%;
  border: 1px solid red;
  background-image: linear-gradient(to bottom right, #c09, #f42 85%);
}

.top-navbar {
  padding: 0.5rem 1.1rem;
  display: flex;
  background-color: black;
  color: #fff;
}

.top-left-nav-bar-items,
.top-right-nav-bar-items,
.main-nav-bar,
.main-nav-items {
  display: flex;
  align-items: center;
}
.spacer {
  flex: 1;
}
.top-left-nav-bar-items,
.top-right-nav-bar-items,
.main-nav-items {
  list-style: none;
}

.top-nav-bar-item {
  padding: 0 0.4rem;
  font-size: 0.9rem;
}
.main-nav-bar {
  padding: 1rem 1.1rem;
  -webkit-box-shadow: -2px 10px 6px -6px rgba(230, 227, 230, 1);
  -moz-box-shadow: -2px 10px 6px -6px rgba(230, 227, 230, 1);
  box-shadow: -2px 10px 6px -6px rgba(230, 227, 230, 1);
}
.main-nav-item {
  margin-right: 0.7rem;
  opacity: 0.5;
  font-weight: 400;
}
.main-nav-item:hover {
  opacity: 1;
}
.search-btn {
  border: 0;
  border-left: 1px solid grey;
  padding: 0 1rem;
  opacity: 0.7;
  background: transparent;
}
.search-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.btn-menu {
  display: none;
  border: 0;
  color: #f42;
  background: transparent;
}

.wrapper {
  max-width: 1192px;
  padding: 0 20px;
  margin: 0 auto;
}

.billboard {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}

.billboard-main {
  color: #fff;
  border: 0.2rem solid white;
  height: 70vh;
  width: 65%;
  position: relative;
  background-image: linear-gradient(
      135deg,
      rgba(255, 17, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/vector.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.billboard-sub {
  width: 35%;
  color: #fff;
}
.billboard-sub-1,
.billboard-sub-2 {
  background-image: linear-gradient(
      135deg,
      rgba(255, 17, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/vector.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.1rem solid white;
  height: 35vh;
}

.latest-news {
  margin-top: 3rem;
}

.latest-news .news-h3 {
  margin-left: 0.8rem;
  color: #ff4422;
  font-size: 1.5rem;
}

.latest-news .news-section-1 {
  display: flex;
  flex-wrap: wrap;
}

.latest-news .news-section-1 .news {
  width: 22.7%;
  height: 40vh;
  margin: 0.8rem;
}

.latest-fund {
  margin-top: 2rem;
}

.latest-fund .fund-h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ff4422;
}

.latest-fund .fund-links > li {
  list-style: none;
  display: inline-block;
  color: #ff4422;
}

.latest-fund .fund-links > li:not(:last-child) {
  border-right: 1px solid #ff4422;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.latest-fund .fund-header {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.latest-fund .fund-section-1 .fund-profile-pic {
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}

.latest-fund .fund-section-1 .fund-profile {
  color: white;
  background-color: #ff4422;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
}

.funds {
  display: flex;
  flex-wrap: wrap;
}

.fund-section-1 {
  width: 23.6%;
  margin-right: 1rem;
}

.fund-profile .fund-profile-h3,
.fund-capital .fund-capital-h3,
.fund-capital .fund-capital-span {
  margin-left: 5rem;
}

.fund-features .fund-features-span {
  margin-left: 2rem;
}

.fund-capital .fund-capital-span {
  font-size: 0.7rem;
}

.fund-section-1 .fund-capital {
  color: black;
  background-color: rgba(255, 68, 34, 0.2);
  padding-top: 0.8rem;
  padding-bottom: 0.9rem;
}

.fund-section-1 .fund-features {
  color: black;
  background-color: rgba(255, 68, 34, 0.09);
  padding: 0.5rem 0;
  line-height: 2rem;
  font-size: 0.8rem;
}

.fund-section-1 .fund-description {
  color: black;
  background-color: rgba(255, 68, 34, 0.05);
  padding: 0.5rem 0;
  line-height: 1.5rem;
  font-size: 0.8rem;
  border-top: 0.25px solid #ff4422;
}

.fund-section-1 .fund-description .description {
  margin: 0 10px;
}

.apps-section {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.apps-section .apps {
  width: 368px;
  margin: 1.5rem 1.5rem 2rem 0;
}

.apps .appsh3 {
  font-size: 1.5rem;
  color: #ff4422;
}

.apps-article-main {
  background: url('../images/elon-musk.jpeg') no-repeat;
  background-size: cover;
  height: 17.25rem;
  width: 23rem;
}

.apps-article-main .most-popular {
  display: block;
  margin: 1rem;
  padding-top: 10rem;
  color: white;
  line-height: 1.5rem;
}

.apps-article-main .most-popular p {
  font-size: 0.7rem;
}

.apps-article-sub {
  background-color: rgba(255, 68, 34, 0.06);
  display: flex;
}

.article-sub-h5 {
  width: 272px;
  padding: 10px 14px 0;
  color: #ff4422;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.article-sub-img {
  background: url('../images/vector.jpg') no-repeat;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.article-list {
  margin-left: 20px;
}

.article-list > ul {
  list-style: none;
}

.article-list > ul li {
  border-bottom: 0.1px solid lightgrey;
  padding-bottom: 9px;
  margin-top: 10px;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.article-list > ul li::before {
  color: #ff4422;
  content: '\2022';
  display: inline-block;
  font-weight: bold;
  margin-left: -1em;
  width: 1em;
}

.foooter {
  color: #fff;
}
.footer-nav-items-container {
  background-color: #131313;
  padding: 3rem 0;
}
.copyright {
  background-color: black;
  padding: 2rem 0;
}
.copyright-text {
  text-align: center;
  font-size: 0.86rem;
  opacity: 0.9;
}
.social-icons,
.footer-nav-items {
  display: flex;
  justify-content: center;
  list-style: none;
}
.social-icons {
  margin-bottom: 1rem;
}
.footer-nav-item {
  margin-left: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  background-color: #616161;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.footer-nav-item:hover {
  box-sizing: border-box;
  background-color: #212121;
  border: 1px solid #616161;
}
.footer-nav-link-item {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
.footer-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

.contain-logo {
  margin: 1rem 0 3rem 1rem;
  width: 50%;
  height: 10rem;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.date {
  position: absolute;
  top: 2%;
  right: 2%;
}
.main-content-text-container {
  padding: 0 1rem;
}
.main-content-text {
  margin-top: 0.4rem;
  font-size: 3rem;
  font-weight: 800;
}

ul.timestamp-author {
  display: flex;
  list-style: none;
  margin-top: 0.7rem;
}
.timestamp-author li {
  margin-right: 0.5rem;
}

.sub-menu-content-tet-container {
  margin-top: 6rem;
}
.sub-content-text {
  font-size: 1.7rem;
  font-weight: 800;
}

.image-thumbnail {
  width: 100%;
  min-height: 50%;
}
.news-title {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 800;
  display: inline-block;
  margin: 0.5rem 0;
  padding-right: 0.3rem;
}
.news-title:hover {
  color: red;
}
.author-timestamp-news {
  display: flex;
  list-style: none;
}
.author-timestamp-news li {
  margin-right: 0.4rem;
  opacity: 0.6;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .logo,
  .btn-menu {
    display: inline-block;
  }
  .main-nav-items,
  .top-navbar,
  .date,
  .creative {
    display: none;
  }
  .search-btn {
    border: 0;
  }
  .billboard {
    display: flex;
    flex-direction: column;
  }
  .billboard-main,
  .billboard-sub,
  .billboard-sub-1,
  .billboard-sub-2 {
    width: 100%;
  }
  .latest-news .news-section-1 {
    display: flex;
    flex-direction: column;
  }
  .latest-news .news-section-1 .news {
    width: 100%;
    height: auto;
    margin: 0.8rem auto;
  }
  .latest-fund .fund-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .latest-fund .fund-links > li {
    list-style: none;
    display: block;
    color: #ff4422;
    margin-bottom: 0.5rem;
  }
  .latest-fund .fund-links > li:not(:last-child) {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .funds {
    display: flex;
    flex-direction: column;
  }
  .fund-section-1 {
    width: 100%;
  }
  .contain-logo {
    display: none;
  }
  .main-content-text {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .billboard-main {
    height: 35vh;
  }
  .main-content-text-container {
    margin-top: 6rem;
  }
  .news {
    display: flex;
    flex-direction: row;
  }
  .news-body {
    padding-left: 1rem;
  }
  .image-thumbnail {
    width: 50%;
    min-height: 50%;
  }
  .img-fluid {
    height: 100%;
  }
  .news-title {
    font-size: 0.9rem;
    line-height: 150%;
  }
  .apps-article-main {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
}
